<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\win-x64\</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishAot>false</PublishAot>
    <UseAppHost>true</UseAppHost>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>None</DebugType>
    <AllowedReferenceRelatedFileExtensions></AllowedReferenceRelatedFileExtensions>
  </PropertyGroup>
</Project>
